@model Vehiculos.API.Data.Entities.TipoDocumento

<div class="form-group">
    <label asp-for="Descripcion" class="control-label"></label>
    <input asp-for="Descripcion" class="form-control" />
    <span asp-validation-for="Descripcion" class="text-danger"></span>
</div>
